@font-face {
    font-family: futura;
    src: url(Futura.otf);
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

#granim-canvas {
    position: absolute;
    display: block;
    width: 100vw;
    height: 127vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;

}

input {
    width: 214.188px;
    height: 2rem;
    padding: 0 0.75rem;
    border-radius: 20px;
}

p {
    color:#f44336;
    font-size: 14px;
    text-align: center;
}
/* Layout */

#header {
    text-align: center;
    font-size: 70px;
    color: black;
    font-family: futura;
}
form {
    margin: 0 auto;
    width: 214.188px;
}
.form-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
}
form > div {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 15px;
    font-size: 20px;
}

#validation {
    margin: 0 auto;
    display: block;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #4e6096;
    background-color: turquoise;
	cursor:pointer;
	color: oldlace;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}

/* UI */

.validated {
        border-color: #2eec96;
}
.not_validated {
        border-color: #f44336;
}
@media (max-width: 500px) {
    #granim-canvas {
        height: 140vh;
    }
}

